In [6]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys, codecs, json
from twython import TwythonStreamer, Twython
from datetime import datetime
from time import time

# Load in OAuth Tokens
app_key = ""
app_sec = ""
user_key = ""
user_sec = ""

api = Twython(app_key, app_sec, user_key, user_sec)
api.verify_credentials()
tweets_data = api.search(q='ny')
tweets_data = tweets_data['statuses']

In [1363]:
data = pd.DataFrame(data=[tweet['user']['name'] for tweet in tweets_data], columns=['User_Name'])
data['User_ID'] =np.array([tweet['user']['id'] for tweet in tweets_data])
data['User_Screen_name'] =np.array([tweet['user']['screen_name'] for tweet in tweets_data])
data['User_Loc'] =np.array([tweet['user']['location'] for tweet in tweets_data])
data['User_Lang'] =np.array([tweet['user']['lang'] for tweet in tweets_data])
data['User_Following'] =np.array([tweet['user']['friends_count'] for tweet in tweets_data])
data['User_Followers'] =np.array([tweet['user']['followers_count'] for tweet in tweets_data])
data['User_List'] =np.array([tweet['user']['listed_count'] for tweet in tweets_data])
data['User_Liked_Tweets'] =np.array([tweet['user']['favourites_count'] for tweet in tweets_data])
data['User_Status'] =np.array([tweet['user']['statuses_count'] for tweet in tweets_data])
data['User_Creation'] =np.array([tweet['user']['created_at'] for tweet in tweets_data])
data['Tweet'] =np.array([tweet['text'] for tweet in tweets_data])
data['Time'] =np.array([tweet['created_at'] for tweet in tweets_data])
import time
data['Create_Year'] = pd.DatetimeIndex(data['User_Creation']).year

In [1364]:
data

,User_Name,User_ID,User_Screen_name,User_Loc,User_Lang,User_Following,User_Followers,User_List,User_Liked_Tweets,User_Status,User_Creation,Tweet,Time,Create_Year
0,Teddy üè≥Ô∏è‚ÄçüåàüöÄ,2183710919,_Terricka_,"Carol City, FL‚úàÔ∏èHouston, Texas",en,2239,2867,18,68901,63605,Sat Nov 16 20:59:16 +0000 2013,RT @emoblackthot: Where do y‚Äôall live where $1...,Sun Sep 16 22:00:32 +0000 2018,2013
1,Kaori,880737791675584512,kaori_mt_ny,Êù±‰∫¨,ja,241,49,0,70096,179,Fri Jun 30 10:40:27 +0000 2017,RT @s_egg: SKE48„É™„ÇØ„Ç¢„ÉØÊúÄÁµÇÂÖ¨Êºî\nÔºë‰Ωç„ÄÄ„Åì„Åì„Åß‰∏ÄÁô∫ÔºàÈ†àÁî∞‰∫úÈ¶ôÈáå„ÄÅÊùæÊùëÈ¶ôÁπîÔºâ...,Sun Sep 16 22:00:32 +0000 2018,2017
2,#45 Best POTUS Ever ü§óüá∫üá∏ü§óüíù,65216930,45BestPotusEvr,Venus üòÅ,en,6106,6037,1,4224,9236,Thu Aug 13 00:33:47 +0000 2009,RT @ajshowme: @45BestPotusEvr @davidf4444 @sar...,Sun Sep 16 22:00:31 +0000 2018,2009
3,GlockGuide,213546565,GlockGuide,"Dallas, TX",en,176,199,8,664,1222,Tue Nov 09 05:32:48 +0000 2010,"@Astros290 @tedcruz @peta Didn‚Äôt know NY, Cana...",Sun Sep 16 22:00:31 +0000 2018,2010
4,Jennifor Acosta,2244531320,jenniforlyn,"Illinois, USA",en,19837,19538,8,43540,20296,Fri Dec 13 21:32:40 +0000 2013,RT @BeverlyMcCord2: @45BestPotusEvr @davidf444...,Sun Sep 16 22:00:31 +0000 2018,2013
5,Danielle,335492467,DanielleCzigler,,en,313,510,7,229527,97534,Thu Jul 14 19:28:33 +0000 2011,RT @RedSox: Onto the next NY team! üôå https://t...,Sun Sep 16 22:00:30 +0000 2018,2011
6,g üíï,723496417,gaabriellaW,,en,564,758,3,23362,22438,Sun Jul 29 06:19:37 +0000 2012,Might have to take a solo trip to ny ü§î,Sun Sep 16 22:00:30 +0000 2018,2012
7,Need for Speed,721514329540009984,BrentJa52423222,,en,644,817,2,26128,4149,Sun Apr 17 01:43:16 +0000 2016,"RT @KellsBellsSC: Meet Adwoa Lewis 19 of NY, s...",Sun Sep 16 22:00:29 +0000 2018,2016
8,What's Corporate?,1002220866204262400,WhatsCorporate,"Danbury, CT",en,483,62,1,0,2371,Thu May 31 16:10:49 +0000 2018,"LBG | Morgan Stanley Headquarters, 1585 Broadw...",Sun Sep 16 22:00:29 +0000 2018,2018
9,Luxury Real Estate Magazine,327195524,LuxuryREM,,en,70,121,33,516,3203,Fri Jul 01 04:32:02 +0000 2011,"The Plaza Hotel ‚Äì 768 5th Ave, New York, NY 10...",Sun Sep 16 22:00:28 +0000 2018,2011
10,M √â ≈ö H √å,3266534102,meshi_zee,"ÿßÿ≥ŸÑÿßŸÖ ÿ¢ÿ®ÿßÿØ, Ÿæÿß⁄©ÿ≥ÿ™ÿßŸÜ",en,220,3040,2,57817,16486,Thu Jul 02 22:56:57 +0000 2015,@its_fatiiiii @Raees_Hazir_Ha @samanesthetic @...,Sun Sep 16 22:00:28 +0000 2018,2015
11,Prime Creator üá∫üá∏üáØüáµüá∞üá∑,970382127840755713,PrimeCreator2,"Burnside, KY",en,3091,3460,11,43229,96860,Sun Mar 04 19:35:02 +0000 2018,RT @PrimeCreator2: @mona_cajun @FlaRhps @2newe...,Sun Sep 16 22:00:28 +0000 2018,2018
12,„Ç¢„ÉÄ„É†„Éª„É©„É≥„Éê„Éº„Éàbot,363564154,adamlambot,Japan,ja,36,105,10,0,73649,Sun Aug 28 09:01:11 +0000 2011,"PDT-15:00(Las Vegas,LA) / EDT-18:00(NY) / BST-...",Sun Sep 16 22:00:27 +0000 2018,2011
13,#45 Best POTUS Ever ü§óüá∫üá∏ü§óüíù,65216930,45BestPotusEvr,Venus üòÅ,en,6106,6037,1,4224,9236,Thu Aug 13 00:33:47 +0000 2009,RT @dyro874: @45BestPotusEvr @davidf4444 @sarr...,Sun Sep 16 22:00:27 +0000 2018,2009
14,Victoria Perez¬Æ Collection,133525315,vpdco,USA,es,995,583,69,1565,5085,Fri Apr 16 01:12:52 +0000 2010,Charm Statement Set | (500) https://t.co/LK...,Sun Sep 16 22:00:26 +0000 2018,2010

In [1365]:
df = data.loc[data['Create_Year'] == 2018, ['User_Name','User_ID','User_Loc','User_Lang','User_Following','User_Followers','User_List','User_List','User_Liked_Tweets','User_Status','User_Creation','Create_Year','Tweet','Time']]
df

,User_Name,User_ID,User_Loc,User_Lang,User_Following,User_Followers,User_List,User_List,User_Liked_Tweets,User_Status,User_Creation,Create_Year,Tweet,Time
8,What's Corporate?,1002220866204262400,"Danbury, CT",en,483,62,1,1,0,2371,Thu May 31 16:10:49 +0000 2018,2018,"LBG | Morgan Stanley Headquarters, 1585 Broadw...",Sun Sep 16 22:00:29 +0000 2018
11,Prime Creator üá∫üá∏üáØüáµüá∞üá∑,970382127840755713,"Burnside, KY",en,3091,3460,11,11,43229,96860,Sun Mar 04 19:35:02 +0000 2018,2018,RT @PrimeCreator2: @mona_cajun @FlaRhps @2newe...,Sun Sep 16 22:00:28 +0000 2018

In [1366]:
df['User_Creation'] = pd.to_datetime(df['User_Creation'])
df['User_Creation'] = df['User_Creation'].dt.date
df['Current Date'] = pd.to_datetime('today').date() 
df1 =df[['User_Name','User_Status','User_ID','User_Creation','Current Date']].sort_values(['User_Status'],ascending=False).head(50)
df1 = df1.groupby(['User_Name','User_ID','User_Creation','Current Date'])['User_Status'].max().reset_index(name="Tweets_Retweets_Count").sort_values(['Tweets_Retweets_Count'],ascending=False).head(50)
df1['Twitter_Days'] =  (df1['Current Date'] - df1['User_Creation']).dt.days
df1

,User_Name,User_ID,User_Creation,Current Date,Tweets_Retweets_Count,Twitter_Days
0,Prime Creator üá∫üá∏üáØüáµüá∞üá∑,970382127840755713,2018-03-04,2018-09-16,96860,196
1,What's Corporate?,1002220866204262400,2018-05-31,2018-09-16,2371,108

In [1367]:
# -------------------------------------- 01 ----------------------------------------
#'Prime Creator üá∫üá∏üáØüáµüá∞üá∑' Twitter days are 196. Total Tweets and Retweets have count of 96860. 
#On average he tweets 96860/196 ~ 495 tweets per day
#Per day per hour he tweets average 21 tweet
# On average 'Prime Creator üá∫üá∏üáØüáµüá∞üá∑' tweets one tweet every 2-3 minutes.

#Hence we might consider this user to be a bot!

In [1381]:
#Lets do some more analysis.
user = api.lookup_user(user_id = '970382127840755713')
user

[{'id': 970382127840755713,
  'id_str': '970382127840755713',
  'name': 'Prime Creator üá∫üá∏üáØüáµüá∞üá∑',
  'screen_name': 'PrimeCreator2',
  'location': 'Burnside, KY',
  'description': '#0010110\nALERT 5\n111\nWAKE UP TIME\nMOAB\nQ+\n+++\n+++++\n+++++++\n4.10.20\n4+10+20\n4/30/2018\n7 11\n9\n7 9 11\n#1101001',
  'url': None,
  'entities': {'description': {'urls': []}},
  'protected': False,
  'followers_count': 3464,
  'friends_count': 3092,
  'listed_count': 11,
  'created_at': 'Sun Mar 04 19:35:02 +0000 2018',
  'favourites_count': 43346,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'verified': False,
  'statuses_count': 96982,
  'lang': 'en',
  'status': {'created_at': 'Sun Sep 16 22:34:06 +0000 2018',
   'id': 1041455211104161792,
   'id_str': '1041455211104161792',
   'text': 'RT @PrimeCreator2: @PCreator714 @staggerlee422 @iam_novacaine @JeremyRobards7 @bevbarrett5 @Valentine33099 @Helicallight21 @FlaRhps @Franci‚Ä¶',
   'truncated': False,
   'entities': {'hashtags': [],
    'symbols': [],
    'user_mentions': [{'screen_name': 'PrimeCreator2',
      'name': 'Prime Creator üá∫üá∏üáØüáµüá∞üá∑',
      'id': 970382127840755713,
      'id_str': '970382127840755713',
      'indices': [3, 17]},
     {'screen_name': 'PCreator714',
      'name': 'PrimeCreator714',
      'id': 999366623243972614,
      'id_str': '999366623243972614',
      'indices': [19, 31]},
     {'screen_name': 'staggerlee422',
      'name': 'jonüêª#internetbillofrights',
      'id': 966732397936021505,
      'id_str': '966732397936021505',
      'indices': [32, 46]},
     {'screen_name': 'iam_novacaine',
      'name': 'J',
      'id': 37652182,
      'id_str': '37652182',
      'indices': [47, 61]},
     {'screen_name': 'JeremyRobards7',
      'name': "So! Sek'Jer",
      'id': 733062609591635970,
      'id_str': '733062609591635970',
      'indices': [62, 77]},
     {'screen_name': 'bevbarrett5',
      'name': 'Beverly Barrett',
      'id': 1942886462,
      'id_str': '1942886462',
      'indices': [78, 90]},
     {'screen_name': 'Valentine33099',
      'name': 'Seraph',
      'id': 956909425675198464,
      'id_str': '956909425675198464',
      'indices': [91, 106]},
     {'screen_name': 'Helicallight21',
      'name': 'Helical Light',
      'id': 978411202136113152,
      'id_str': '978411202136113152',
      'indices': [107, 122]},
     {'screen_name': 'FlaRhps',
      'name': 'SickMom',
      'id': 734987852820402176,
      'id_str': '734987852820402176',
      'indices': [123, 131]}],
    'urls': []},
   'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
   'in_reply_to_status_id': None,
   'in_reply_to_status_id_str': None,
   'in_reply_to_user_id': None,
   'in_reply_to_user_id_str': None,
   'in_reply_to_screen_name': None,
   'geo': None,
   'coordinates': None,
   'place': None,
   'contributors': None,
   'retweeted_status': {'created_at': 'Sun Sep 16 22:33:56 +0000 2018',
    'id': 1041455170192920578,
    'id_str': '1041455170192920578',
    'text': '@PCreator714 @staggerlee422 @iam_novacaine @JeremyRobards7 @bevbarrett5 @Valentine33099 @Helicallight21 @FlaRhps‚Ä¶ https://t.co/MazzqEhGl2',
    'truncated': True,
    'entities': {'hashtags': [],
     'symbols': [],
     'user_mentions': [{'screen_name': 'PCreator714',
       'name': 'PrimeCreator714',
       'id': 999366623243972614,
       'id_str': '999366623243972614',
       'indices': [0, 12]},
      {'screen_name': 'staggerlee422',
       'name': 'jonüêª#internetbillofrights',
       'id': 966732397936021505,
       'id_str': '966732397936021505',
       'indices': [13, 27]},
      {'screen_name': 'iam_novacaine',
       'name': 'J',
       'id': 37652182,
       'id_str': '37652182',
       'indices': [28, 42]},
      {'screen_name': 'JeremyRobards7',
       'name': "So! Sek'Jer",
       'id': 733062609591635970,
       'id_str': '733062609591635970',
       'indices': [43, 58]},
      {'screen_name': 'bevbarrett5',
       'name': 'Beverly Barrett',
       'id': 1942886462,
       'id_str': '1942886462',
       'indices': [59, 71]},
      {'screen_name': 'Valentine33099',
       'name': 'Seraph',
       'id': 956909425675198464,
       'id_str': '956909425675198464',
       'indices': [72, 87]},
      {'screen_name': 'Helicallight21',
       'name': 'Helical Light',
       'id': 978411202136113152,
       'id_str': '978411202136113152',
       'indices': [88, 103]},
      {'screen_name': 'FlaRhps',
       'name': 'SickMom',
       'id': 734987852820402176,
       'id_str': '734987852820402176',
       'indices': [104, 112]}],
     'urls': [{'url': 'https://t.co/MazzqEhGl2',
       'expanded_url': 'https://twitter.com/i/web/status/1041455170192920578',
       'display_url': 'twitter.com/i/web/status/1‚Ä¶',
       'indices': [114, 137]}]},
    'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
    'in_reply_to_status_id': 1041194879718572032,
    'in_reply_to_status_id_str': '1041194879718572032',
    'in_reply_to_user_id': 999366623243972614,
    'in_reply_to_user_id_str': '999366623243972614',
    'in_reply_to_screen_name': 'PCreator714',
    'geo': None,
    'coordinates': None,
    'place': None,
    'contributors': None,
    'is_quote_status': False,
    'retweet_count': 1,
    'favorite_count': 1,
    'favorited': False,
    'retweeted': False,
    'possibly_sensitive': False,
    'lang': 'en'},
   'is_quote_status': False,
   'retweet_count': 1,
   'favorite_count': 0,
   'favorited': False,
   'retweeted': False,
   'lang': 'en'},
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': None,
  'profile_background_image_url_https': None,
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1026250875587579904/BMzHWSDO_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1026250875587579904/BMzHWSDO_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/970382127840755713/1534703127',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': True,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'}]

In [1369]:
#suspect table 
data_bot = pd.DataFrame()
data_bot['Bot_ID'] =[user[0]['id']]
data_bot['Bot_Name'] =[user[0]['name']]
data_bot['Bot_Screen_name'] =[user[0]['screen_name']]
data_bot['Bot_Loc'] =[user[0]['location']]
data_bot['Bot_Lang'] =[user[0]['lang']]
data_bot['Bot_Following'] =[user[0]['friends_count']]
data_bot['Bot_Followers'] =[user[0]['followers_count']]
data_bot['Bot_Description'] =[user[0]['description']]
data_bot['Bot_Likes'] =[user[0]['favourites_count']]

In [1370]:
data_bot

,Bot_ID,Bot_Name,Bot_Screen_name,Bot_Loc,Bot_Lang,Bot_Following,Bot_Followers,Bot_Description,Bot_Likes
0,970382127840755713,Prime Creator üá∫üá∏üáØüáµüá∞üá∑,PrimeCreator2,"Burnside, KY",en,3092,3463,#0010110\nALERT 5\n111\nWAKE UP TIME\nMOAB\nQ+...,43346

In [1371]:
# -------------------------------------- 02 ----------------------------------------
#The description provided is ecrypted/uses special and unknown character/digits 
# -------------------------------------- 03 ----------------------------------------
#The liked tweets of this user is 43,311 
#User likes avg 10 tweets every hour

In [ ]:
#More analysis

In [1396]:
timeline = api.get_user_timeline(user_id = '970382127840755713')

In [1401]:
timeline_post_time = []
timeline_post_text = []
for i in timeline:
    timeline_post_time.append(i['created_at'])
    timeline_post_text.append(i['text'])
data_timeline = pd.DataFrame(data=timeline_post_time, columns=['Time'])
data_timeline['Text'] =np.array(timeline_post_text)

data_timeline.sort_values('Time', ascending=True)

,Time,Text
19,Sun Sep 16 22:22:38 +0000 2018,RT @PCreator714: @staggerlee422 @iam_novacaine...
18,Sun Sep 16 22:22:45 +0000 2018,RT @PCreator714: @staggerlee422 @iam_novacaine...
17,Sun Sep 16 22:22:52 +0000 2018,RT @PCreator714: @staggerlee422 @iam_novacaine...
16,Sun Sep 16 22:22:57 +0000 2018,RT @PCreator714: @staggerlee422 @iam_novacaine...
15,Sun Sep 16 22:23:03 +0000 2018,RT @PCreator714: @staggerlee422 @iam_novacaine...
14,Sun Sep 16 22:23:10 +0000 2018,RT @PCreator714: @iam_novacaine @staggerlee422...
13,Sun Sep 16 22:23:33 +0000 2018,RT @JeremyRobards7: BOOOOM! @PRIMECREATOR2 @PR...
12,Sun Sep 16 22:23:56 +0000 2018,RT @JeremyRobards7: @bevbarrett5 @PCreator714 ...
11,Sun Sep 16 22:24:01 +0000 2018,RT @JeremyRobards7: @PCreator714 @staggerlee42...
10,Sun Sep 16 22:24:24 +0000 2018,RT @staggerlee422: @IsaacKappy @Cordicon @Sno...
9,Sun Sep 16 22:24:58 +0000 2018,RT @staggerlee422: @DrakanPerunovic @PrimeCrea...
8,Sun Sep 16 22:25:06 +0000 2018,RT @JeremyRobards7: @DrakanPerunovic @PrimeCre...
7,Sun Sep 16 22:25:13 +0000 2018,RT @FlaRhps: @iam_novacaine @JeremyRobards7 @b...
6,Sun Sep 16 22:25:19 +0000 2018,RT @FlaRhps: @iam_novacaine @JeremyRobards7 @b...
5,Sun Sep 16 22:25:25 +0000 2018,RT @JeremyRobards7: @FlaRhps @iam_novacaine @b...
4,Sun Sep 16 22:25:34 +0000 2018,RT @becca000007: @PCreator714 @bevbarrett5 @Je...
3,Sun Sep 16 22:27:20 +0000 2018,@becca000007 @PCreator714 @bevbarrett5 @Jeremy...
2,Sun Sep 16 22:27:33 +0000 2018,RT @PrimeCreator2: @becca000007 @PCreator714 @...
1,Sun Sep 16 22:33:56 +0000 2018,@PCreator714 @staggerlee422 @iam_novacaine @Je...
0,Sun Sep 16 22:34:06 +0000 2018,RT @PrimeCreator2: @PCreator714 @staggerlee422...

In [ ]:
# -------------------------------------- 04 ----------------------------------------
#Tweeting pattern from his timeline. 
#Tweeting average 3 tweets every minute

In [ ]:
#More Analysis

In [7]:
import re
ids = api.get_followers_ids(id='970382127840755713')
idlist = ids['ids']
loclist = []
results = list(map(str, idlist))

In [ ]:
for i in idlist:
    res = api.lookup_user(user_id=i)
    for loc in res:
        x = re.sub('[^a-zA-Z,]+', ' ', loc['location'])
        x = x.replace(',', '')
        loclist.append(x)

In [1505]:
loc2=[]
for i in loclist:
    i = i.replace(',', '').replace('.', '').strip()
    shortword = re.compile(r'\W*\b\w{1,3}\b')
    text = shortword.sub('', i)
    loc2.append(text)
loc2 = list(filter(None, loc2))
loc2

['Kurdistan',
 'Phoenix',
 'Chicago Illinois MAGA',
 'Nashville',
 'Heart',
 'Wyoming',
 'Home Wherever park',
 'Worth Texas',
 'Dallas Fort Worth Texas',
 'NOLA',
 'Magical Forest',
 'United States',
 'United States',
 'Tacoma',
 'Lexington',
 'United States',
 'Arizona',
 'Fort Myers born Cleveland',
 'Midlandia',
 'Denver',
 'Brisbane Queensland',
 'Miami Beach',
 'Coastal Georgia',
 'Texas',
 'https qresearch welcomehtml',
 'Dallas',
 'Vancouver British Columbia',
 'Internet',
 'United States',
 'close Swamp',
 'France',
 'LOCALHOST',
 'Iraq',
 'Earthstar Rising',
 'desert keeping cool',
 'EnglandintergratedUkraine',
 'Francisco',
 'York Pennsylvania',
 'Waterloo Francisco',
 'GLOBAL CITIZEN',
 'Newfoundland Labrador',
 'Atlanta',
 'Vancouver Canada',
 'United States',
 'Chicago',
 'United States',
 'Indiana',
 'Gotham City America',
 'Plano',
 'Reno Nevada',
 'Salt Lake City Utah',
 'WORLDWIDE',
 'Florida',
 'Live Free',
 'Comilla Bangladesh',
 'Arizona California',
 'Georgia',
 'Connecticut',
 'Nevada',
 'Francisco Area',
 'Wadsworth',
 'Angeles',
 'Hartbeespoort South Africa',
 'Bangladesh',
 'USSA',
 'Chicago',
 'Yorkshire Humber England',
 'Cleveland',
 'Sweden',
 'Antarctica',
 'United States',
 'United States',
 'Stockholm',
 'York',
 'Reality',
 'Rawalpindi Pakistan',
 'United States',
 'Cincinnati',
 'Carlsbad',
 'Everywhere',
 'Arizona',
 'Maine',
 'Earth',
 'Benin Nigeria',
 'Nebuchadnezzar',
 'Angeles',
 'Angeles California',
 'Ontario Canada',
 'Colorado',
 'Cairo Egypt',
 'Delhi India',
 'Coachella Valley Riverside',
 'Virginia',
 'Florida',
 'Thomaston',
 'Nashville',
 'United States',
 'Arizona',
 'Colorado',
 'America',
 'magaville  America',
 'Newfoundland Labrador',
 'VEGAS',
 'Wyoming',
 'chair',
 'Middle Village Queens',
 'Lincoln',
 'United States',
 'Ohio',
 'IndianapolisIndiana',
 'Colorado Springs',
 'Pompano Beach',
 'Stockton',
 'Knoxville',
 'Topeka',
 'Zurich Switzerland',
 'Melbourne Victoria',
 'MATRIX Take Pill Always Follow',
 'North Carolina',
 'Oregon',
 'Washington',
 'Maryland',
 'Aenea Airlae',
 'Manhattan',
 'Space Coast',
 'Ohio',
 'North East England',
 'United States',
 'Kenmore archivesDave',
 'United States',
 'Deplorable',
 'DeLand',
 'Heavenbound Earth',
 'everywhere',
 'Swamp',
 'Macon',
 'Jersey',
 'Medell Colombia Pablo Fishing Coach lakes home',
 'Land lakes',
 'United States',
 'Tulsa Oklahoma',
 'Central Texas',
 'United States',
 'Louisiana',
 'England United Kingdom',
 'AMERICA UNITED STATES',
 'United States',
 'proud',
 'Chicago',
 'Austin',
 'Ludhiana Punjab India',
 'United States',
 'Orlando',
 'Calgary Alberta',
 'Texas',
 'Austin',
 'Jersey',
 'Arizona',
 'Calgary Canada',
 'California',
 'Pueblo Colorado',
 'United States',
 'California',
 'Kentucky',
 'Florida',
 'Chino',
 'mother Earth',
 'Earth Allah',
 'United States',
 'armpit',
 'Auckland Zealand',
 'Lexington',
 'Colorado Rockies approximately',
 'United States',
 'California',
 'parody',
 'South Dublin Ireland',
 'Circle',
 'Trump Territory',
 'Higher consciousness',
 'Illinois',
 'Somewhere',
 'Texas',
 'your head',
 'Arkansas',
 'Texas',
 'North Wall',
 'Maryland',
 'Texas',
 'Smyrna Beach',
 'Kentucky',
 'United States',
 'United States',
 'Stephens',
 'Arizona',
 'Scotland United Kingdom',
 'Earth',
 'Somewhere',
 'Land',
 'United States',
 'Antwerp',
 'United States',
 'Texas',
 'Earth',
 'Georgia',
 'Vicksburg',
 'South Carolina',
 'United States America',
 'White House',
 'Farmington',
 'Charlotte',
 'Where',
 'Texas',
 'Everywhere',
 'York',
 'Israel',
 'Work Asia from Texas',
 'America',
 'SpiralStaircase',
 'here',
 'Titusville',
 'Minnesota',
 'Sacramento',
 'Rural Sottish Borders',
 'teau',
 'Chicago',
 'Salt Lake City',
 'Hebr',
 'McComb',
 'Somerset',
 'Silvis Illinois',
 'United States',
 'Mount Olive',
 'Massachusetts',
 'Michigan',
 'Springtown',
 'Jersey',
 'Minneapolis',
 'Minneapolis',
 'Moore',
 'Sierra Vista',
 'Front Royal',
 'Rotterdam',
 'Latvia',
 'California',
 'West Hollywood',
 'Murrells Inlet',
 'America Great',
 'Surprise',
 'Pennsylvania',
 'Dubai',
 'United States',
 'Tennessee',
 'Petr polis Brasil',
 'Richton mississippi',
 'Plant City',
 'stanbul rkiye',
 'BEST COAST',
 'Ithaca',
 'Carcosa',
 'Battlefield Twitter',
 'Ozarks',
 'Indiana',
 'Chicago',
 'Bryant Denny Stadium',
 'Pennsylvania',
 'Minneapolis',
 'United States',
 'Vegas',
 'United States',
 'United States',
 'California',
 'United States',
 'Illinois',
 'Pennsylvania',
 'Kurdistan',
 'Phoenix',
 'Chicago Illinois MAGA',
 'Nashville',
 'Heart',
 'Wyoming',
 'Home Wherever park',
 'Worth Texas',
 'Dallas Fort Worth Texas',
 'NOLA',
 'Magical Forest',
 'United States',
 'United States',
 'Tacoma',
 'Lexington',
 'United States',
 'Arizona',
 'Fort Myers born Cleveland',
 'Midlandia',
 'Denver',
 'Brisbane Queensland',
 'Miami Beach',
 'Coastal Georgia',
 'Texas',
 'https qresearch welcome html',
 'Dallas',
 'Vancouver British Columbia',
 'Internet',
 'United States',
 'close Swamp',
 'France',
 'LOCALHOST',
 'Iraq',
 'Earthstar Rising',
 'desert keeping cool',
 'England intergratedUkraine',
 'Francisco',
 'York Pennsylvania',
 'Waterloo Francisco',
 'GLOBAL CITIZEN',
 'Newfoundland Labrador',
 'Atlanta',
 'Vancouver Canada',
 'United States',
 'Chicago',
 'United States',
 'Indiana',
 'Gotham City America',
 'Plano',
 'Reno Nevada',
 'Salt Lake City Utah',
 'WORLDWIDE',
 'Florida',
 'Live Free',
 'Comilla Bangladesh',
 'Arizona California',
 'Georgia',
 'Connecticut',
 'Nevada',
 'Francisco Area',
 'Wadsworth',
 'Angeles',
 'Hartbeespoort South Africa',
 'Bangladesh',
 'USSA',
 'Chicago',
 'Yorkshire Humber England',
 'Cleveland',
 'Sweden',
 'Antarctica',
 'United States',
 'United States',
 'Stockholm',
 'York',
 'Reality',
 'Rawalpindi Pakistan',
 'United States',
 'Cincinnati',
 'Carlsbad',
 'Everywhere',
 'Arizona',
 'Maine',
 'Earth',
 'Benin Nigeria',
 'Nebuchadnezzar',
 'Angeles',
 'Angeles California',
 'Ontario Canada',
 'Colorado',
 'Cairo Egypt',
 'Delhi India',
 'Coachella Valley Riverside',
 'Virginia',
 'Florida',
 'Thomaston',
 'Nashville',
 'United States',
 'Arizona',
 'Colorado',
 'America',
 'magaville  America',
 'Newfoundland Labrador',
 'VEGAS',
 'Wyoming',
 'chair',
 'Middle Village Queens',
 'Lincoln',
 'United States',
 'Ohio',
 'IndianapolisIndiana',
 'Colorado Springs',
 'Pompano Beach',
 'Stockton',
 'Knoxville',
 'Topeka',
 'Zurich Switzerland',
 'Melbourne Victoria',
 'MATRIX Take Pill Always Follow',
 'North Carolina',
 'Oregon',
 'Washington',
 'Maryland',
 'Aenea Airlae',
 'Manhattan',
 'Space Coast',
 'Ohio',
 'North East England',
 'United States',
 'Kenmore archivesDave',
 'United States',
 'Deplorable',
 'DeLand',
 'Heavenbound Earth',
 'everywhere',
 'Swamp',
 'Macon',
 'Jersey',
 'Medell Colombia Pablo Fishing Coach lakes home',
 'Land lakes',
 'United States',
 'Tulsa Oklahoma',
 'Central Texas',
 'United States',
 'Louisiana',
 'England United Kingdom',
 'AMERICA UNITED STATES',
 'United States',
 'proud',
 'Chicago',
 'Austin',
 'Ludhiana Punjab India',
 'United States',
 'Orlando',
 'Calgary Alberta',
 'Texas',
 'Austin',
 'Jersey',
 'Arizona',
 'Calgary Canada',
 'California',
 'Pueblo Colorado',
 'United States',
 'California',
 'Kentucky',
 'Florida',
 'Chino',
 'mother Earth',
 'Earth Allah',
 'United States',
 'armpit',
 'Auckland Zealand',
 'Lexington',
 'Colorado Rockies approximately',
 'United States',
 'California',
 'parody',
 'South Dublin Ireland',
 'Circle',
 'Trump Territory',
 'Higher consciousness',
 'Illinois',
 'Somewhere',
 'Texas',
 'your head',
 'Arkansas',
 'Texas',
 'North Wall',
 'Maryland',
 'Texas',
 'Smyrna Beach',
 'Kentucky',
 'United States',
 'United States',
 'Stephens',
 'Arizona',
 'Scotland United Kingdom',
 'Earth',
 'Somewhere',
 'Land',
 'United States',
 'Antwerp',
 'United States',
 'Texas',
 'Earth',
 'Georgia',
 'Vicksburg',
 'South Carolina',
 'United States America',
 'White House',
 'Farmington',
 'Charlotte',
 'Where',
 'Texas',
 'Everywhere',
 'York',
 'Israel',
 'Work Asia from Texas',
 'America',
 'SpiralStaircase',
 'here',
 'Titusville',
 'Minnesota',
 'Sacramento',
 'Rural Sottish Borders',
 'teau',
 'Chicago',
 'Salt Lake City',
 'Hebr',
 'McComb',
 'Somerset',
 'Silvis Illinois',
 'United States',
 'Mount Olive',
 'Massachusetts',
 'Michigan',
 'Springtown',
 'Jersey',
 'Minneapolis',
 'Minneapolis',
 'Moore',
 'Sierra Vista',
 'Front Royal',
 'Rotterdam',
 'Latvia',
 'California',
 'West Hollywood',
 'Murrells Inlet',
 'America Great',
 'Surprise',
 'Pennsylvania',
 'Dubai',
 'United States',
 'Tennessee',
 'Petr polis Brasil',
 'Richton mississippi',
 'Plant City',
 'stanbul rkiye',
 'BEST COAST',
 'Ithaca',
 'Carcosa',
 'Battlefield Twitter',
 'Ozarks',
 'Indiana',
 'Chicago',
 'Bryant Denny Stadium',
 'Pennsylvania',
 'Minneapolis',
 'United States',
 'Vegas',
 'United States',
 'United States',
 'California',
 'United States',
 'Illinois',
 'Pennsylvania']

In [1506]:
follower_loc = pd.DataFrame(data=loc2, columns=['Follower_Location'])
follower_loc

               Follower_Location
0                      Kurdistan
1                        Phoenix
2          Chicago Illinois MAGA
3                      Nashville
4                          Heart
5                        Wyoming
6             Home Wherever park
7                    Worth Texas
8        Dallas Fort Worth Texas
9                           NOLA
10                Magical Forest
11                 United States
12                 United States
13                        Tacoma
14                     Lexington
15                 United States
16                       Arizona
17     Fort Myers born Cleveland
18                     Midlandia
19                        Denver
20           Brisbane Queensland
21                   Miami Beach
22               Coastal Georgia
23                         Texas
24   https qresearch welcomehtml
25                        Dallas
26    Vancouver British Columbia
27                      Internet
28                 United States
29                   close Swamp
..                           ...
520               West Hollywood
521               Murrells Inlet
522                America Great
523                     Surprise
524                 Pennsylvania
525                        Dubai
526                United States
527                    Tennessee
528            Petr polis Brasil
529          Richton mississippi
530                   Plant City
531                stanbul rkiye
532                   BEST COAST
533                       Ithaca
534                      Carcosa
535          Battlefield Twitter
536                       Ozarks
537                      Indiana
538                      Chicago
539         Bryant Denny Stadium
540                 Pennsylvania
541                  Minneapolis
542                United States
543                        Vegas
544                United States
545                United States
546                   California
547                United States
548                     Illinois
549                 Pennsylvania

[550 rows x 1 columns]

In [ ]:
#---------------------------------04--------------------
#The user has followers from worldwide
#Usually, the followers are from same state or country.
#Here the followers is worldwide randomly

In [1464]:
#Conclusion: The user 'Prime Creator üá∫üá∏üáØüáµüá∞üá∑' might be a twitter bot because of
#-----StatusCount
#----LikesDescription
#----TweetPostPattern
#-----FollowersWorldwide